@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{margin: 0;  padding: 0; font-family: 'Montserrat', sans-serif;}
body{height: 100vh;}
.sidebar{
    width: 20%;
    float: left;
    background: #0046fd;
    height: 100vh;
    position: relative;
}
.main{width: 75%;float: left;height: 90vh; padding: 30px;}
.logo{text-align: center;color: #fff; margin-top: 50px; font-weight: 800;
    margin-bottom: 50px;}
.admin_navbar{margin-left: 40px;}
.admin_navbar li{list-style: none; padding: 16px 19px;}
.admin_navbar li i{ margin-right: 10px;}
.admin_navbar li a{color: #fff; text-decoration: none; font-weight: 600;}
.active{
    background:#fff;
    border-radius: 27px;
    position: relative;
}
.admin_navbar > .active::before, .admin_navbar > .active::after {
    content: "";
    position: absolute;
}
.admin_navbar > li{
    border-radius: 60px 0 0 60px;
    margin-left: -15px;
}
.admin_navbar > .active::before {
    top: -80px;
    right: 0;
    height: 80px;
    width: 40px;
    border-bottom-right-radius: 80px;
    box-shadow: 0 40px 0 0 #fff;
    transform: rotateZ(360deg);
}
.admin_navbar > .active::after {
    top: 51px;
    right: 0;
    height: 80px;
    width: 40px;
    border-top-right-radius: 80px;
    box-shadow: 0 -40px 0 0 #fff;
    transform: rotateZ(360deg);
}
.active a{color: #0046fd!important;}

.column-6{width: 50%; float: left;}
.hicon{margin-right: 20px; font-size: 22px!important;position: relative;}
.hicon:nth-child(1):after{
    content: '';
    position:absolute;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 10px;
    left: 13px;
    top: 7px;
    transform: scale(0.5);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
    cursor: pointer;
}

.user{
    background:#b3bbd1;
    padding: 5px;
    width: 30px;
    margin-bottom: -11px;
    border-radius: 50%;
    cursor: pointer;
}

.head-section{
    margin-bottom: 20px;
}

/*.disable-link{*/
/*    */
/*}*/