@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #101827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 1280px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 200px;
    max-width: 200px;
    flex-shrink: 0;
    background-color: rgba(21, 30, 47,1);
    display: flex;
    flex-direction: column;
}
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.sidebar-list {
    list-style-type: none;
    padding: 0;
}
.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
}
.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}
.sidebar-list-item img {
    width: 50px;
    margin-right: 8px;
}
.sidebar-list-item:hover {
    background-color: #1a2539;
}
.sidebar-list-item.active {
    background-color: #1d283c;
}
.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: #2869ff;
    height: 100%;
    width: 4px;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 16px;
}
.account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.account-info-picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.account-info-name {
    font-size: 14px;
    color: #fff;
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-content {
    padding: 16px;
    background-color: #101827;
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    margin-bottom: 20px;
}
.app-content-headerText {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.app-content-headerButton {
    background-color: #2869ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 20px;
    position: relative;
}
.app-content-headerButton:hover {
    background-color: #6291fd;
}

.app-content-headerButton svg{
    fill: #FFFFFF;
}

.btn{
    text-align: center;
    margin: 10px 0;
}

.btn a{
    text-decoration: none;
    color: #fff;
    background-color: #2869ff;
    font-size: 16px;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 5px 30px;
    transition: 0.2s;
    cursor: pointer;
}

.products-area-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.gridView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: #1d283c;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    /*position: relative;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.products-row:hover {
    transform: scale(1.01);
    box-shadow: rgba(16, 24, 39, 0.8) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}


.product-cell {
    color: #fff;
    font-size: 14px;
    margin: 8px 0;
}

.span {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.product-cell img {
    width: 100%;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.form{
    display: flex;
    justify-content: space-around;
}

.button{
    text-decoration: none;
    color: #fff;
    background-color: #2869ff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 5px 30px;
    transition: 0.2s;
    cursor: pointer;
    margin: 20px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 9px;
    border-radius: 50%;
    background: red;
    color: white;
}

.app-content-headerButton svg{
    fill: #FFFFFF;
}

.basket-row{
    margin: 8px;
    background-color: #1d283c;
    padding: 8px;
    border-radius: 4px;
    transition: transform 0.2s;
}

.wrapper{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wrapper img{
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.basket-header{
    margin-bottom: 40px;
}

.app-content-headerButton-danger {
    background-color: #ff2828;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 20px;
    position: relative;
}

.wrapper_1{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.wrapper_1 input{
    padding: 5px 10px;
    margin-left: 37px;
}

.inactive{
    display: none;
}

.app-content-header-nav, .loyalty{
    display: flex;
    align-items: center;
}
.loyalty_btn{
    font-size: 20px;
    padding: 5px;
    color: #c26d09;
    background-color: transparent;
    margin: 0 10px;
    border: none;
}

.loyalty svg{
    fill: #c26d09;
    font-size: 25px;
}

.star-rating {
    margin: 10px 0 0;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}
.star-rating i ~ i {
    width: 40%;
}
.star-rating i ~ i ~ i {
    width: 60%;
}
.star-rating i ~ i ~ i ~ i {
    width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.modal textarea{
    width: 75%;
    margin: 20px auto;
}
.app-content-headerButton-transparent{
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 20px;
    position: relative;
}