body{
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    margin: 0;
    background:  #4d84e2;
}
#success, #error{
    display: block;
    position: fixed;
    top:15%;
    left:40%
}

.popup-content{
    width: 326px;
    height: 408px;
    background: white;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 25px;
}
.imgbox{
    text-align: center;
}
.img{
    width: 112px;
    margin-top: 40px;
}
.title{
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
}
#success .title{
    color: #32ba7c;
}
#error .title{
    color: #ff3636;
}
.para{
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;


}
.button{
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
}
#s_button{
    background: #32ba7c;
}
#e_button{
    background: #ff3636;
}
form {
    padding: 20px;
}