@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

#main {
    position: relative;
    height: 100vh;
    color: #fff;
    background: url("../img/bg.jpg") no-repeat center center/cover;
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.navbar {
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.1);
}

.navbar img {
    width: 150px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    transition: transform 0.5s;
    font-size: 100%;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #de4713;
    color: #de4713;
    padding-bottom: 5px;
    font-weight: 700;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.page-content h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.page-content h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.page-content a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    background-color: #de4713;
    margin: 15px;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.6s;
    overflow: hidden;
}

.page-content a:hover {
    transform: scale(1.2);
    /*transition: transform 0.3s;*/
    background-color: #752307;
}